{{#if user}}
{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    {{> admin/admin-topNav}}



    <div class="content-wrapper">

        {{> admin/messages}}

        {{{body}}}

        {{> admin/admin-footer}}
    </div>
</body>
 
</html>

{{/if}}