
</html>
<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"><img src="/images/logo.png" alt="Logo Image"></a>
						<p class="copyright">Bona @ 2019. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						{{#each categories}}
						<ul>
							<li><a href="#">{{title}}</a></li>
						</ul>
						{{/each}}
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="/common-js/jquery-3.1.1.min.js"></script>

	<script src="/common-js/tether.min.js"></script>

	<script src="/common-js/bootstrap.js"></script>

	<script src="/common-js/scripts.js"></script>



    <script src="/vendorLg/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendorLg/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendorLg/bootstrap/js/popper.js"></script>
	<script src="/vendorLg/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendorLg/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendorLg/daterangepicker/moment.min.js"></script>
	<script src="/vendorLg/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendorLg/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>
	
	<script>
    $(document).ready(function () {
       setTimeout(function () {
           $('.alert').slideUp(1000);
       },1000);
    });
</script>

</body>
</html>
