<header>
	<div class="container-fluid position-relative no-side-padding">

		<a href="#" class="logo"><img src="/images/logo.png" alt="Logo Image"></a>

		<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

		<ul class="main-menu visible-on-click" id="main-menu">
			<li><a href="/">Home</a></li>
			{{#if user}}
				{{#if user.isAdmin}}
				<li><a href="/admin">Admin page</a></li>
				<li><a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a></li>
				{{else}}
				<li><a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a></li>
				{{/if}}
			{{else}}
			<li><a href="/login">LogIn</a></li>
			<li><a href="/register">Register</a></li>
			{{/if}}
		</ul><!-- main-menu -->

		<div class="src-area">
			<form>
				<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
				<input class="src-input" type="text" placeholder="Type of search">
			</form>
		</div>

	</div><!-- conatiner -->
</header>